<div class="landing-page-center">
	<div class="landing-main-box width500">
		<div class="center-it">
			<h1 class="josefin">Your Scene</h1>
			<p>
				You know that neighborhood you absolutely love? The one you couldn't do without? Let us help you find one just like it another city!
			</p>
		</div>
		<div>
			<%= form_tag('/your_scene') do %>
				<div class="row">
					<div class="col-md-6">
						<%= text_field_tag :fave_hood, nil, placeholder: "My Favorite Neighborhood", class: "placehold-text form-control form-margin", autofocus: true %>
					</div>
					<div class="col-md-6">
						<%= text_field_tag :current_city, nil, placeholder: "My City", class: "placehold-text form-control form-margin" %>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<%= text_field_tag :moving_to, nil, placeholder: "An Unfamiliar city", class: "placehold-text form-control form-margin" %>
					</div>
				</div>			
 				<div class="center-it">
					<button class="btn btn-danger">Find My Scene!</button>
				</div>
			<% end %>
  	</div>
	</div>
</div>
<!-- <script src="//cdn.optimizely.com/js/2433990499.js"></script> -->

