<div class="page-center">
	<div class="main-box">
		<div class="center-it">
			<h1>A Village Like Me</h1>
			<p>
				Thanks for stopping by!
			</p>
			<p>
				We'll let you know when more features are available.
			</p>
			<p>
				See you back soon!
			</p>
		</div>
	</div>
</div>
