<div class="page-center">
	<div class="main-box">
		<div class="center-it">
			<h1>A Village Like Me</h1>
			<p>
				Thanks for stopping by!
			</p>
			<% if @answered == false %>
				<p>
					We'll be sending you an e-mail with the name of a neighborhood you'll love in <%= @mover.moving_to %>!
				</p>
			<% else %>
				<p>
					We'll be in touch!
				</p>
			<% end %>
		</div>
	</div>
</div>
<script src="//cdn.optimizely.com/js/2433990499.js"></script>