// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file.
//
// Read Sprockets README (https://github.com/sstephenson/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require jquery
//= require jquery_ujs
//= require turbolinks
//= require_tree .

$(document).ready(function(){
	function initialize() {
		var myLatlng = new google.maps.LatLng(latitude, longitude)
	  var mapOptions = {
	  	center: myLatlng,
	    zoom: 14,
	    scrollwheel: false
	  };

	  var map = new google.maps.Map(document.getElementById('map-canvas'),
	      mapOptions);

	  var arrLen = points_of_interest.length;

	  // for (var j = 0; j < 10; j++) {
	  // 	// points_of_interest[j] = JSON.parse(points_of_interest[j]);
	  // 	console.log(points_of_interest[j]);
	  // }

	  //for (var i = 0; i < arrLen; i++) {
	  points_of_interest.forEach( function (arrayItem) {	
	  	// var venue = JSON.parse(points_of_interest[i]);
	  	//console.log(points_of_interest[i]);
	  	for (var k in arrayItem) {
	  		if (arrayItem.hasOwnProperty(k)) {
	  			if (k == "Latitude") {
	  				var lat = arrayItem[k]
	  			}
	  			if (k == "Longitude") {
	  				var lng = arrayItem[k]
	  			}
	  			if (k == "Name") {
	  				var venue_name = arrayItem[k]
	  			}
	  			if (k == "Rating") {
	  				var rating = arrayItem[k]
	  			}
	  			if (k == "Website") {
		  			var website = arrayItem[k]
	  			}

	  			if (typeof lat !== 'undefined' && typeof lng != 'undefined') {
		  			var venueLatlng = new google.maps.LatLng(lat, lng);
		  			console.log(venueLatlng);
					  var marker = new google.maps.Marker({
					  	position: venueLatlng,
					  	map: map
					  	//icon: image
					  });

						var infowindow = new google.maps.InfoWindow();
						if (website != null ) {
							var content = "<p>" + venue_name + "<br /> <a href='" + website + "' target='_blank'>Visit Online</a><br /> Rating: " + rating + "</p>";
						} else {
							var content = "<p>" + venue_name + "<br /> Rating: " + rating + "</p>";
						}
						
							
						google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
						    return function() {
						        infowindow.setContent(content);
						        infowindow.open(map,marker);
						    };
						})(marker,content,infowindow));
					}
			  }
			}
	  });


	 //  var marker = new google.maps.Marker({
	 //  	position: myLatlng,
	 //  	map: map,
	 //  	title: 'Your New Scene'
	 //  });

		// var contentString = '<div>Your new scene.</div>';

	 //  var infowindow = new google.maps.InfoWindow({
	 //      content: contentString
	 //  });


	  // var image = "<%= asset_path 'sbw_logo.png' %>";
  	// var marker = new google.maps.Marker({
   //    position: myLatlng,
   //    map: map,
   //    icon: image,
   //    animation: google.maps.Animation.BOUNCE,
   //    draggable: true
  	// });

  // 	google.maps.event.addListener(marker, 'click', function() { 
  // 		infowindow.open(map,marker);
		// });

	}
	google.maps.event.addDomListener(window, 'load', initialize);
});